h2{
    color: aliceblue;
    margin-top: 60px;
}

h1{
    text-align: center;
    font-size: 52px;
    color: aliceblue;
}

body {
    background-image: url('https://i.pinimg.com/736x/ff/eb/e1/ffebe157a62a3d2997cf6de6ab0720ce.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
}

h3{
    color: aliceblue;
    font-size: 18px;
    margin-top: 90px;
}

ul{
    font-size: 15px;
    color: aliceblue;
}

p{
    color: aliceblue;
    text-align: center;

}

h4{
    color: aliceblue;
    font-size: 20px;
    margin-top: 90px;
    text-align: center;
}

h5{
    text-align: center;
    color: aliceblue;
    margin-top: 300px;
    font-size: 15px;

}

header{
    text-align: center;
    padding: 2px;
    background: #b0e1f5;
}
nav{
    text-align: center;
}