body{
    background-color: rgb(236, 232, 232);
}

foto{
    padding: left;
}

img{
    height: 450px;
    width: 1180px;
    border-radius: 4px;
    left: 5px;

}

.menu{
    display: flex;
    border-radius: 6px;
    background-color: rgb(7, 16, 65);
    width: 1180px;
}

.menu ul{
    
    text-decoration: none;
    list-style: none;
}

.menu li{
    display: inline;
}

.menu ul li a{
    color: rgb(236, 232, 232);
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

.principal{
    background-color: rgb(7, 16, 65);
    width: 1180px;
    border-radius: 5px;
    height: 200px;
}

.lorem{
    font-size: 20px;
    color: rgb(224, 223, 223);
}

.contato{
    background-color:rgb(7, 16, 65);
    width: 1180px;
    border-radius: 5px;
    height: 450px;
}

.img2{
    height: 250px;
    width: 350px;
}
.img3{
    height: 250px;
    width: 350px;
}

.principal2{
    background-color: rgb(7, 16, 65);
    border-radius: 5px;
    width: 1180px;
    height: 800px;
}
.principal3{
    background-color: rgb(7, 16, 65);
    border-radius: 5px;
    width: 1180px;
    height: 250px;
}

.img4{
    height: 250px;
    width: 350px;
}

.titulo{
    color: rgb(236, 232, 232);
}