.interacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #b0e1f5;
}

.logoParque{
    width: 40px;
    height: 45px;
}

.contato{
    color: black;
}

.titulo{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: aliceblue;
    margin-top: 60px;
}


body {
    background-image: url('https://i.pinimg.com/736x/ff/eb/e1/ffebe157a62a3d2997cf6de6ab0720ce.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 
}

h3{
    color: aliceblue;
    font-size: 18px;
    margin-top: 40px;
}

ul{
    font-size: 15px;
    color: aliceblue;
}

h5{
    text-align: center;
    color: aliceblue;
    margin-top: 300px;
    font-size: 15px;

}

